# See https://www.dartlang.org/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock

doc/api/

.env*

*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# Compiled JS from packages/js (sources are TypeScript)
packages/js/dist/
packages/js/node_modules/

.flutter-plugins
.flutter-plugins-dependencies
